#demandesInscription{
	width:99%;
	margin: auto;
	padding-top: 155px;
	padding-bottom: 65px;
}

#titreDemande{
	font-family: Days;
	font-size: 1.5em;
	color: #00001D;
	margin-left: 55px;
}

#tableauDemande{
	text-align: center;
	margin: auto;
	width: 100%;
	border-collapse: collapse;
}

#tableauDemande tr td{
	border: 1px solid #5E5EFF;
}

.labelDemande{
	font-family: Days;
	font-size: 1.5em;
	color: #00001D;
}

.varDemande{
	font-family: Days;
	font-size: 1.3em;
	color: #00001D;
	padding: 3px 0;
}

#telephone{
	width: 14%;
}

#email{
	width: 20%;
}

#prenom{
	width: 32%
}

#nom{
	width: 30%;
}

#noDemande{
	font-size: 1.8em;
	text-align: center;
	color: #00001D;
	font-family: Days;
}