#apropos{
	width:99%;
	padding-top: 155px;
	padding-bottom: 65px;
	margin: auto;
	margin-top: 15px;
}

#titreAPropos{
	color: #00001D;
	font-size: 2em;
	font-family: Days;
}

#listeDroits li{
	color: #5E5EFF;
	font-size: 1.6em;
	font-family: Days;
}