#titreMentionsLegales{
	font-family: Days;
	text-align: center;
	font-size: 3em;
	color: #00001D;
}

.soustitreMentionsLegales{
	font-family: Days;
	font-size: 2em;
	color: #00001D;
}

#textCopy{
	font-family: Days;
	font-size: 1.3em;
	color: #5E5EFF;
}

#mentionslegales{
	width:99%;
	padding-top: 155px;
	padding-bottom: 65px;
	margin: auto;
	margin-top: 15px;
}

#tableauOvh{
	border-collapse: collapse;
}

.titreMentions{
	font-family: Days;
	color: #00001D;
	font-size: 1.3em;
	border: 1px solid #00001D;
	padding: 0 10px;
}

.texteMentions{
	font-family: Days;
	color: #5E5EFF;
	font-size: 1.3em;
	padding: 0 10px;
	border: 1px solid #5E5EFF;
}