#blanket6{
	background: black;
	opacity: 0.65;
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
}

#ajouterClasse, #ajouterUnEtudiant, #ajouterGroupeExistant, #ajouterPlusieursEleves{
	position:fixed;
	left: 33%;
	width:600px;
	height:auto;
	border: solid;
	border-width: 1px;
	z-index: 9002;
	background: #A60000;
	display: block;
}

#ajouterNotes{
	position:fixed;
	left: 30%;
	top: 5%;
	width: 700px;
	height:auto;
	border: solid;
	border-width: 1px;
	z-index: 9002;
	background: #A60000;
	display: block;
}

#formulaireAjoutClasse{
	text-align: center;
	margin-top: -30px;
}

#formulaireAjoutClasse table tr td{
	font-family: Days;
	color: #FF6767;
}

#tableauAjoutClasse{
	margin: auto;
}

#tableauAjoutClasse .titreAjoutClasse{
	font-size: 1.4em;
	height: 50px;
	line-height: 0;
	font-family: Days;
	color:white;
}

#tableauAjoutClasse select{
	border: 2px solid #FF6767;
	margin-top: 5px;
}

.messageErreurAjoutClasse{
	color: #FF4B4B;
}

.labelAjoutClasse{
	padding-top: 15px;
}

.bouttonAjouterFormulaire{
	width: 150px;
}

.informationNoteMax{
	position: relative;
	left: 6px;
	top: 2px;
}

#mesEleves{
	width:99%;
	margin: auto;
	padding-top: 155px;
	padding-bottom: 65px;
}

/* Paramètres mes élèves */
#parametresEleves{
	width: 100%;
	text-align: right;
}

#parametresEleves ul li{
	display: inline-block;
	background: linear-gradient(to bottom, #FF2525 0%, #A60000 100%);
	border-radius: 10px 10px 10px 10px;
	padding: 1px 10px;
	width: auto;
	border: 1px solid #A60000;
}

#parametresEleves ul li a{
	text-decoration: none;
	font-family: Days;
	color: white;
}

#parametresEleves ul li:hover{
	background: #FF6767;
}

#parametresEleves #titreEleves{
	float: left;
	background: none;
	border: none;
	font-family: Days;
	color: #A60000;
	font-size: 1.5em;
}

/** mes centres **/
#listeCentreFormation{
	border: 1px solid #A60000;
	width: 20%;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

#titreListeCentres{
	text-align: center;
	font-family: Days;
	color: #A60000;
	font-size: 1.4em;
}

.tableauCentre{
	text-align: center;
	font-family: Days;
	margin: auto;
	margin-top: -15px;
}

.nomCentre{
	height: 20px;
}

.nomCentre a{
	text-decoration: none;
	color: #A60000;
	font-family: Days;
	font-size: 1.4em;
}

.nomCentre a:hover{
	color: #FF6767;
}

#noCentre{
	font-family: Days;
	text-align: center;
}

#addCentre{
	color: #A60000;
}

#addCentre:hover{
	color: #FF6767;
}
/** mes groupes **/
#listeGroupe{
	display: inline-block;
	border: 1px solid #A60000;
	width: 14%;
	margin-left: 5px;
	overflow: hidden;
	vertical-align: top;
}

.tableauGroupe{
	text-align: center;
	font-family: Days;
	margin-top: -15px;
	width: 100%;
}

.nomGroupe{
	height: 20px;
	width: 100%;
}

.nomGroupe a{
	text-decoration: none;
	color: #A60000;
	font-family: Days;
	font-size: 1.4em;
}

.nomGroupe a:hover{
	color: #FF6767;
}

.suppGroupe{
	float: right;
}

#noGroupe{
	font-family: Days;
	text-align: center;
}

/** mes eleves **/
#listeEleves{
	display: inline-block;
	border: 1px solid #A60000;
	width: 64%;
	margin-left: 5px;
	overflow: hidden;
}

#titreListeEleves{
	text-align: left;
	font-family: Days;
	color: #A60000;
	font-size: 1.4em;
	display: inline-block;
	padding-left: 5px;
}

#listeTableauxEleves{
	text-align: center;
	width: auto;
}

.tableauEleves{
	font-family: Days;
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.nomEleve{
	height: 20px;
	color: #FF6767;
}

#parametresEleves2{
	display: inline-block;
	float: right;
	position: relative;
	top: 10px;
	right: 5px;
}

#parametresEleves2 ul li{
	background: linear-gradient(to bottom, #FF2525 0%, #A60000 100%);
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #A60000;
	text-align: center;
	list-style: none;
	display: inline-block;
}

#parametresEleves2 ul li a{
	text-decoration: none;
	font-family: Days;
	color: white;
	font-size: 0.90em;
	padding: 3px 10px;
}

#parametresEleves2 ul li:hover{
	background: #FF6767;
}

#noEleves{
	font-family: Days;
	text-align: center;
}

/** pages centre **/
.nbPagesCentresFormation{
	width: 20%;
	text-align: center;
	font-family: Days;
	margin: auto;
}

.nbPagesCentresFormation a{
	text-decoration: none;
	color: #A60000;
}

.nbPagesCentresFormation a:hover{
	text-decoration: none;
	color: #FF6767;
}

/** Ajouter un eleve **/
#formulaireAjoutUnEtudiant{
	text-align: center;
	margin-top: -30px;
}

#formulaireAjoutUnEtudiant table tr td{
	font-family: Days;
	color: #FF6767;
}

#tableauAjoutUnEtudiant{
	margin: auto;
}

#tableauAjoutUnEtudiant .titreAjoutUnEtudiant{
	font-size: 1.4em;
	height: 50px;
	line-height: 0;
	font-family: Days;
	color:white;
}

.messageErreurAjoutUnEtudiant{
	color: #FF4B4B;
}

.labelAjoutUnEtudiant{
	padding-top: 15px;
}

.bouttonAjouterFormulaire{
	width: 150px;
}

/** Ajouter un groupe existant **/
#formulaireAjoutGroupeExistant{
	text-align: center;
	margin-top: -30px;
}

#formulaireAjoutGroupeExistanttable tr td{
	font-family: Days;
	color: #FF6767;
}

#tableauAjoutGroupeExistant{
	margin: auto;
}

#tableauAjoutGroupeExistant .titreAjoutGroupeExistant{
	font-size: 1.4em;
	height: 50px;
	line-height: 0;
	font-family: Days;
	color:white;
}

/** Ajouter plusieurs elèves **/
#formulaireAjoutPlusieursEleves{
	text-align: center;
	margin-top: -30px;
}

#formulaireAjoutPlusieursEleves tr td{
	font-family: Days;
	color: #FF6767;
}

#tableauAjoutPlusieursEleves{
	margin: auto;
}

#tableauAjoutPlusieursEleves .titreAjoutPlusieursEleves{
	font-size: 1.4em;
	height: 50px;
	line-height: 0;
	font-family: Days;
	color:white;
}

.coloreeSpan{
	color: #FF6767;
}
