/* Ajouter horaire */
#monAgenda{
	width:99%;
	margin: auto;
	padding-top: 155px;
	padding-bottom: 65px;
}

#blanket3{
	background: black;
	opacity: 0.65;
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
}

#ajouterIntervention{
	position:fixed;
	left: 33%;
	width:600px;
	height:auto;
	border: solid;
	border-width: 1px;
	z-index: 9002;
	background: #A60000;
	display: block;
}

/* Paramètres mon agenda */
#parametresAgenda{
	width: 100%;
	text-align: right;
}

#parametresAgenda ul li{
	display: inline-block;
	background: linear-gradient(to bottom, #00003F 0%, #A60000 100%);
	border-radius: 10px 10px 10px 10px;
	padding: 1px 10px;
	width: auto;
	border: 1px solid #A60000;
}

#parametresAgenda ul li a{
	text-decoration: none;
	font-family: Days;
	color: white;
}

#parametresAgenda ul li:hover{
	background: #FF6767;
}

#parametresAgenda #titreMonAgenda{
	float: left;
	background: none;
	border: none;
	font-family: Days;
	color: #A60000;
	font-size: 1.5em;
}

/* Ajouter une nouvelle intervention */
#formulaireAjoutIntervention{
	text-align: center;
	margin-top: -30px;
}
#formulaireAjoutIntervention table tr td{
	font-family: Days;
	color: #8D8DFF;
	padding: 0 20px;
}

#tableauAjoutIntervention{
	margin: auto;
}

#tableauAjoutIntervention #titreAjoutIntervention{
	font-size: 1.4em;
	height: 50px;
	line-height: 0;
	font-family: Days;
	color:white;
}

#tableauAjoutIntervention select{
	margin-top: 5px;
}

#tableauAjoutIntervention .label{
	padding-top: 15px;
}

#champAjoutIntervention{
	height: 40px;
}

#bouttonAjouterIntervention{
	width: 150px;
}

.messageErreurAjoutIntervention{
	color: #FF6767;
}

/** Affichage **/
#tableauAgenda{
	width: 98%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #A60000;
}

.enteteIntervention{
	font-family: Days;
	color: #FF6767;
	font-size: 1.5em;
}

.variableIntervention{
	font-size: 1.3em;
	font-family: Days;
	color: #A60000;
	padding: 4px 0;
}

#NoInterventions{
	text-align: center;
	font-size: 2em;
	font-family: Days;
	color: #A60000;
}

.nbPagesInterventions{
	width: 100%;
	text-align: center;
	font-family: Days;
}

.nbPagesInterventions a{
	text-decoration: none;
	color: #A60000;
}

.nbPagesInterventions a:hover{
	text-decoration: none;
	color: #FF6767;
}